* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HEADER */
header {
  text-align: center;
  padding: 60px 20px;
}

header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 span {
  color: #38bdf8;
}

.buttons {
  margin-top: 15px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

/* SECTIONS */
section {
  padding: 50px 20px;
  text-align: center;
}

/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  padding: 10px 15px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 280px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.status {
  color: orange;
  margin-top: 10px;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(255,255,255,0.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    text-align: center;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  header img {
    width: 100px;
  }
}
